<div class="row mt-5">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <label>Server Name:</label>
          <input type="text" class="form-control" [(ngModel)]="newServerName">
          <br>
          <label>Server Content:</label>
          <input type="text" class="form-control" [(ngModel)]="newServerContent">
          <br>
          <button class="btn btn-primary mr-3" (click)="onAddServer()">Add Server</button>
          <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
        </div>
        <pre>
          {{serverElements|json}}
        </pre>
      </div>
    </div>
  
  </div>